body {
    font-family: 'Helvetica', 'Verdana';
    font-size: 16px;
    color: black;
    background-color: white;
    margin: 2.5%;
}

#stats-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 3%;
    border-bottom: solid;
}

#stats-footer {
    margin-top: 5%;
    margin-left: 2%;
}

#stats-content {
    margin: 40px 20px 20px 20px;
}

#stats-table td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#stats-table th {
    font-weight: bold;
}