<!DOCTYPE html>
<html>
<head>
    <link href="style/normalize.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">

    <title></title>
</head>
<body>

<div class="banner">
    <h1>
        <center>Junior</center>
    </h1>
</div>

<div id="datetime-container">
    <span id="date"></span>
    <span class="pipe-color"> || </span>
    <span id="time"></span>
</div>

<div id="current-weather-container">
    <span id="current-weather-description"></span>
    <span class="pipe-color"> || </span>
    <span id="current-weather-temp"></span>
</div>

<div id="forecast-container">
    <button id="btn-forecast">Show Forecast</button>
    <p id="forecast-result"></p>
</div>

<form>
    <input type="checkbox" id="checkbox-studymode">Study Mode</input>
</form>

<p id="motivation-loader"></p>

<br>

<button id="btn-stats">View Browsing Stats</button>
<button id="btn-options">Set Options</button>

<script src="scripts/jquery-3.1.0.min.js"></script>
<script src="scripts/popup.js"></script>
</body>

</html>